body {
  font-family: system-ui, sans-serif;
  max-width: 700px;
  margin: 2em auto;
  padding: 1em;
  line-height: 1.5;
  background: #fffbed;
  color: #222;
}

.entry {
  background: #fff;
  border-left: 4px solid rgb(75, 133, 52);
  padding: 1em;
  margin-bottom: 1.5em;
  box-shadow: 0 1px 3px rgb(75, 133, 52);
  border-radius: 8px;
}

.entry h2 {
  margin: 0;
  font-size: 1.5em;
}

.pos {
  font-style: italic;
  color: rgb(75, 133, 52);
  margin-bottom: 0.5em;
}

.sense {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.examples {
  list-style: none;
  padding-left: 1em;
  font-style: italic;
  color: #444;
}

.examples li::before {
  content: "❖ ";
}

.notes {
  list-style: none;
  padding-left: 1em;
  color: #5f5f5f;
  position: relative;
}

.notes::before {
  content: "» ";
  position: absolute;
  left: 0;
  color: #5f5f5f;
}

#search-container {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  z-index: 100;
  padding: 1.5em 0em;
  border-radius: 1em;
}

#search {
  display: block;
  width: 100%;
  padding: 1em 1em;
  font-size: 1rem;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 0.8em;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
  color: #000;
  margin: 0;
}

#search::placeholder {
  color: rgba(0,0,0,0.5);
}

#search:focus {
  outline: none;
  background: rgba(255, 255, 255, 0);
  border-color: rgba(0,0,0,0.25);
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.letter-header {
  margin-top: 1em;
  text-align: center;
  font-size: 40px;
  color: #105600;
  background-color: #ffffff;
  padding: 0.3em 0.6em;
  border: 1px solid #105600;
  border-radius: 0.3em;
}

mark {
  background-color: #fffa8b;
  font-weight: bold;
  padding: 0 2px;
  border-radius: 3px;
}

.ety-link {
  color: #359220;
  cursor: pointer;
  transition: color 0.2s ease;
}

.ety-link:hover {
  color: #1fa800;
  text-decoration: underline;
}

.entry.highlight {
  background-color: rgba(255, 255, 150, 0.3);
  transition: background-color 0.8s ease;
}

#word-count {
  text-align: left;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #000000;
  font-size: 1em;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #006e18;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
}

#topBtn:hover {
  background-color: #0056b3;
}